/* shared styles */
body{
    font-family: "Mulish", sans-serif;
    max-width: 1170px;
    margin: 0 auto;
}

/* header styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}
.agency-name{
    display: flex;
    align-items: center;
}
.agency-name h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 17px;
}
.agency-name h1 span{
    color: #FF5400;
}
.agency-services ul{
    display: flex;
}
.agency-services ul li{
    list-style: none;
}
.agency-services>ul a{
    text-decoration: none;
    margin-right: 44px;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}
.agency-services .colored-anchor{
    color: #FF5400;
}


/* responsive media query */
@media screen and (max-width:576px) {
   nav{
    flex-direction: column;
   }
   nav{
    flex-wrap: wrap;
    gap: 5px;
   }
}